.ad {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  align-items: center;
}
.ad .item-product {
  margin: 1rem 0.5rem;
}
.back-home {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  padding: 10px;
  background-color: rgb(185, 153, 245);
}
.back-home i {
  font-size: 2rem;
  color: white;
}
