main {
  max-width: 100%;
  margin-top: 1rem;
}

main .find {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 2rem;
}

main .find .logo {
  display: flex;
  gap: 10px;
}
main .find .logo img {
  width: 50px;
}
main .find .logo h3 {
  font-family: "Gamja Flower", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
}
main .find .bc-sc-bar {
  width: 50%;
}
main .find .search-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
main .find .search-bar input {
  width: 60%;
  height: 30px;
  border-radius: 5px;
  padding: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8rem;
  border: 1px solid rgb(139, 139, 139);
}
main .find .search-bar button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgb(139, 139, 139);
  background-color: hsl(271, 100%, 95%);
  font-size: 16px;
  color: rgb(107, 108, 109);
  padding: 5px;
}
main .find .search-bar button:active {
  background-color: hsl(353, 100%, 78%);
}
main .find .search-bar button:hover {
  background-color: rgb(182, 253, 223);
}
main .find .about {
  padding: 5px 7px;
  background-color: rgb(173, 173, 173);
  border-radius: 50%;
}
main .navbar {
  display: flex;
  width: 100%;
  justify-content: center;
}
main .navbar ul {
  width: 30%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  position: relative;
  margin-bottom: 0.8rem;
  text-transform: capitalize;
}
main .navbar ul li {
  position: relative;
}
main .navbar ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: rgb(12, 123, 221);
  transform: scaleX(0);
  transition: all 0.3s;
  opacity: 0;
}
main .navbar ul li a:hover::after {
  opacity: 1;
  transform: scaleX(0.8);
}
main .navbar ul li a {
  text-decoration: none;
  position: relative;
}

main .navbar ul .menu-down i {
  color: rgb(148, 148, 245);
  font-size: 0.9rem;
  transition: all 0.3s;
}
main .navbar ul .menu-down:hover i {
  transform: rotate(180deg);
}
main .navbar ul .menu-down .ul-down {
  display: none;
}
main .navbar ul .menu-down:hover .ul-down {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  background-color: aliceblue;
}
main .navbar ul .menu-down:hover .ul-down ul {
  display: block;
  margin: 10px;
}
main .navbar ul .menu-down:hover .ul-down ul li {
  width: 150px;
  padding: 10px;
}
.search-list {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  left: 30px;
  top: 100px;
  right: 15px;
  /* min-height: 100vh; */
  background-color: rgba(102, 93, 93, 0.623);
  z-index: 7;
  padding: 1rem;
  border-radius: 15px;
  gap: 1rem;
}
.btn-close {
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}
.btn-close i {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
}

.placeholder {
  width: 100%;
  font-size: 1.5rem;
  font-family: "Permanent Marker", cursive;
  text-align: center;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-style: normal;
  text-transform: capitalize;
  text-shadow: 2px 2px 1px rgba(53, 50, 50, 0.616);
}

@media (max-width: 700px) {
  main .find {
    display: flex;
    flex-direction: column;
  }

  main .find .about {
    display: none;
  }
  main .find .logo {
    align-items: center;
  }

  main .find .logo h3 {
    font-size: 2rem;
  }
  main .find .bc-sc-bar {
    width: 100%;
    margin-top: 1rem;
  }

  main .find .search-bar {
    gap: 10px;
  }

  main .find .search-bar input {
    width: 80%;
    font-size: 1rem;
    padding: 5px;
    font-weight: 500;
  }

  main .find .search-bar button {
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 5px 13px;
  }

  main .navbar {
    display: none;
  }

  .search-list {
    left: 5px;
    justify-content: center;
    gap: 1rem;
  }

  .btn-close {
    top: -10px;
    right: -10px;
  }
  .btn-close i {
    font-size: 3rem;
  }
}
